.title 
{
    text-align: center;
    font-family: "Nunito", sans-serif;
}
.image 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.footer 
{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: gray;
   font-family: "Nunito", sans-serif;
   text-align: center;
}
